@import "tailwindcss";

@theme {
  --color-primary-500: #0040ff;
  --color-primary-400: #37b2e8;
  --color-primary-600: #002ecc;
  
  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  
  .dark {
    --background: #030712; /* gray-950 */
    --foreground: #f9fafb; /* gray-50 */
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Account for h-20 fixed header */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}
